body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  overflow: hidden;
  &.day {
    background-color: $light;
    &.shiny {
      background-color: $purpleLight;
    }
  }
  &.night {
    background-color: $dark;
    &.shiny {
      background-color: $purpleDark;
    }
  }
}
