$blueLight: #86d2fd;
$blueSemiLight: #65c5fc;
$blue: #159eed;
$blueSemiDark: #2ba0e3;
$blueDark: #0c71ac;

$purpleLight: #b393dc;
$purpleSemiLight: #a673e7;
$purple: #6a19d4;
$purpleSemiDark: #582699;
$purpleDark: #1a013b;

$dark: #040c11;
$light: #eef1fc;
$darken: #1f2b33;
