$blueLight: #86d2fd;
$blueDay: #65c5fc;
$blue: #159eed;
$blueNight: #2ba0e3;
$blueDark: #0c71ac;

$purpleLight: #b393dc;
$purpleDay: #a673e7;
$purple: #6a19d4;
$purpleNight: #582699;
$purpleDark: #1a013b;

$dark: #040c11;
$light: #eef1fc;

.day {
  color: $dark;
  transition: color 0.5s ease;
  &::selection {
    color: $blueDark;
  }
}

.night {
  color: $light;
  transition: color 0.5s ease;
  &::selection {
    color: $purpleLight;
  }
}

a:hover {
  .day {
    color: $blueNight;
  }

  .night {
    color: $purpleDay;
  }
}

::selection {
  background-color: rgba($color: #000000, $alpha: 0);
}
