.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    .left {
      text-align: center;
      padding: 5%;
      .social-links {
        margin-top: 20px;
        width: 100%;
        justify-content: space-around;
      }
    }
  }
  .left {
    .name {
      font-size: 5rem;
      font-family: 'Manrope Extra Bold', Arial, Helvetica, sans-serif;
      margin-left: -0.075em;
    }
    .subtitle {
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
    .social-links {
      display: flex;
      flex-direction: row;
      div {
        font-size: 1.5rem;
        margin: 10px;
        &.github {
          margin-left: 0;
        }
      }
    }
  }
}
