@font-face {
  font-family: 'Manrope Bold';
  src: url('./assets/font/Manrope-Bold.ttf');
}
@font-face {
  font-family: 'Manrope Extra Bold';
  src: url('./assets/font/Manrope-ExtraBold.ttf');
}
@font-face {
  font-family: 'Manrope Extra Light';
  src: url('./assets/font/Manrope-ExtraLight.ttf');
}
@font-face {
  font-family: 'Manrope Light';
  src: url('./assets/font/Manrope-Light.ttf');
}
@font-face {
  font-family: 'Manrope Medium';
  src: url('./assets/font/Manrope-Medium.ttf');
}
@font-face {
  font-family: 'Manrope';
  src: url('./assets/font/Manrope-Regular.ttf');
}
@font-face {
  font-family: 'Manrope Semi Bold';
  src: url('./assets/font/Manrope-SemiBold.ttf');
}
